@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');


.font-Mont{
    font-family: "Montserrat", sans-serif;
}

.hoverBorder{
    transition: all 0.5s;
    cursor: pointer;
}

.hoverBorder:hover{
    -webkit-transform: scale(1);
    transform: scale(1.2);
    border-bottom: 1px solid #100c47;
}

.ml-centerBiblio{
   margin-left: 200%; 
}